<div>
  <h2>Page 2</h2>
  <div ng-controller = "CalcController">
    <p>Enter a Number: <input type="number" ng-model="number"/></p>
    <p>Enter a Number: <input type="number" ng-model="number1"/></p>
    <button ng-click="square()">x</button>
    <button ng-click="adds()">+</button>
    <button ng-click="subss()">-</button>
    <button ng-click="divs()">/</button>
    <p>Result: {{result}}</p>
  </div>
</div>
