<div>
  <h2>Page 1</h2>
  <p>Enter your Name: <input type="text" ng-model="name"></p>
  <p>Hello <span ng-bind="name"></span>!</p>
</div>

<div ng-controller="globalController">
  <p>{{message}}<br/> {{type}} </p>

  <div ng-controller="firstController">
    <p>{{message}}<br/> {{type}} </p>
  </div>

  <div ng-controller="secondController">
    <p>{{message}}<br/> {{type}} </p>
  </div>

<h3>Filter Subject</h3>

<input type="text" ng-model="subjectName">
  <!-- <h3>List Subject:</h3>
  <li ng-repeat="subject in listData.subjects | filter: subjectName | orderBy:'marks'">
    {{ subject.name + ', marks: ' + subject.marks}}
  </li> -->

  <h3>List area:</h3>
  <li ng-repeat="subject in listData.data |  filter: subjectName | orderBy:'city'">
    {{ subject.city + ' ,  ' + subject.area}}
  </li>


</div>
